@import "../../assets/css/variables";
@import "cube";

.letter {
  color: $element-color;
}

.center-content-left {
  position: absolute;
}

@media (min-width: 992px) {
  .center-content-left {
    top: 50%;
    transform: translate(0, -50%);
  }
}
h2 {
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  color: $text-color;
}

.row {
   max-width: 100%
}

