@import "../../assets/css/variables";
@import "../../assets/css/mixins";

.full-height {
  position: absolute;
  //margin-top: $menu-height;
  padding: 0;
  margin: 0;
  height: calc(100vh - #{$menu-height});
  width: 100%;
}

.row, .column {
  height: 100%;
  margin: 0;
  padding: 0;
}

agm-map {
  height: 100%;
  width: 100%;
  padding: 0;
}

#text {
  @extend .center-content;
  width: 100%;
  text-align: center;
}

.fa-background {
  color: $secondary-color;
}

.fa-icon {
  color: $element-color;
}

.text {
  font-size: 40px;
  color: white;
}
@media (max-width: 992px) {
  .text {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

.fa {
  transition: 0.2s;
}

.element:hover {
  .fa-background {
    color: $element-color;
  }
  .fa-icon {
    color: $secondary-color;
  }
}
