<div class="container-fluid full-height">
  <div class="row">
    <div class="col-md-6 column">
      <div id="text">
        <div id='email' class="element">
          <a href="{{emailLink}}" target="_top">
          <span class="fa-stack fa-3x" style="vertical-align: middle;   transform: translateY(-10%);">
            <i class="fa fa-circle fa-stack-2x fa-background"></i>
            <i class="fa fa-envelope fa-stack-1x fa-icon"></i>
          </span>
            <span class="text">kuba.semik@gmail.com</span>
          </a>
        </div>
        <div class="element">
          <a href="{{emailLink}}" rel="contact" class="btn btn-default btn-lg btn-custom" (mouseover)="mouseIn($event)" target="_top">
            EMAIL ME
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 column">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
