@import "../../assets/css/mixins";
@import "../../assets/css/variables";
@import "../../assets/css/animations";

$transitionTime: .75s;

.transform {
  transform: scale(1.2);
  opacity: .5;
}

.img-wrapper {
  background-color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  display: inline-block;
}


img {
  transition: $transitionTime;
}

.img-wrapper:hover {
  img {
    @extend .transform;
  }
}

.grid-item {
  display: inline-block;
}

.text {
  position: absolute;
  text-align: center;
  @extend .center-content;
  transition: $transitionTime;
  color: #ffffff;
  opacity: 0;
  font-size: 5em;
}


.center-content-left {
  width: 100%;
  position: absolute;
}

.img-wrapper:hover .text {
  visibility: visible;
  opacity: 1;
}

