<body class="home">

<div class="container-fluid page">
    <div class="nav navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    JAKUB SEMIK
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Social links -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="fa fa-github fa-lg social-link" rel="#" href="https://github.com/gradam">
                        </a>
                    </li>
                    <li>
                        <a class="fa fa-twitter fa-lg social-link" rel="#" href="https://twitter.com/@Jakub_Semik">
                        </a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin fa-lg social-link" rel="#" href="https://www.linkedin.com/in/jakub-semik-a4981012a/">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="particles-js" class="content">

    </div>
</div>

</body>

