@import "../../assets/css/variables";


.quote {
  position: absolute;
  color: $text-color;
  max-width: 30%;
  font-size: 18px;

  p {
    color: white;
    font-family: 'Satisfy', 'Archivo Narrow', sans-serif ;
  }
}

@media (max-width: 786px) {
  .quote {
    max-width: 90%;
    font-size: 15px;
  }
}
