@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

html * {
  font-family: 'Archivo Narrow', sans-serif; }

body {
  background-color: #252627; }

.active {
  color: #08fdd8 !important; }

.menu-name {
  margin: 120px; }

.secondary {
  background: #181818; }

.page {
  padding: 0; }

.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #181818;
  border: 0; }

.title {
  font-weight: bold;
  font-size: 60px;
  color: #08fdd8; }

.letter-container {
  display: inline-block;
  text-align: center; }
  .letter-container .initial-letter {
    color: #08fdd8; }
  .letter-container .letter {
    font-weight: bold;
    font-size: 60px;
    transition: 0.2s; }
    .letter-container .letter:hover {
      color: #08fdd8; }

.btn-custom {
  margin-top: 50px;
  background-color: transparent;
  color: #08fdd8;
  border-color: #08fdd8 !important; }
  .btn-custom:hover, .btn-default:focus {
    background-color: #08fdd8;
    color: black; }
