@import 'assets/css/variables';
@import "assets/css/animations";

html * {
  font-family: 'Archivo Narrow', sans-serif;
}

body {
  background-color: $background-color;
}

.active {
  color: $element-color !important;
}

.btn-default:focus {
  @extend .btn-custom:hover
}

.menu-name {
  margin: 120px;
}

.secondary {
  background: $secondary-color;
}

.page {
  padding: 0;
}

.navbar {
  margin: 0;
  border-radius: 0;
  background-color: $secondary-color;
  border: 0;
}

.title {
  font-weight: bold;
  font-size: 60px;
  color: $element-color;
}

.letter-container {
  display: inline-block;
  text-align: center;
  .initial-letter {
    color: $element-color;
  }
  .letter {
    font-weight: bold;
    font-size: 60px;
    transition: 0.2s;
    &:hover {
      color: $element-color;
    }
  }
}

.btn-custom {
  margin-top: 50px;
  background-color: transparent;
  color: $element-color;
  border-color: $element-color !important;
  &:hover {
    //animation: jello 2s;
    background-color: $element-color;
    color: black;
  }
}


