<div class="container-fluid">
  <div class="center-content">
    <div *ngFor="let line of title" class="text-line">
      <div class="word" *ngFor="let word of line">
        <div class="letter-container" *ngFor="let letter of word" (mouseenter)="mouseIn($event)">
          <ng-container [ngSwitch]="letter">
            <span *ngSwitchCase="'J'" class="letter initial-letter">{{letter}}</span>
            <span *ngSwitchCase="' '" class="letter">&nbsp;</span>
            <span *ngSwitchDefault class="letter">{{letter}}</span>
          </ng-container>
        </div>
      </div>
    </div>
    <a rel="contact" routerLink="/contact" class="btn btn-default btn-custom" (mouseover)="mouseIn($event)">
      CONTACT ME
    </a>
  </div>
</div>
