@import "../../assets/css/variables";
@import "../../assets/css/mixins";

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media (max-width: 640px) {
  .center-content {
    width: 90%;
  }
}

.word {
  margin-bottom: -15px;
  margin-top: -15px;
  display: inline-block;
}


@media (max-width: 992px) {
  .letter {
    font-size: 40px;
  }
}

.btn-contact {
  margin-top: 50px;
  background-color: transparent;
  color: $element-color;
  border-color: $element-color !important;
  &:hover {
    //animation: jello 2s;
    background-color: $element-color;
    color: black;
  }
}
